:root {
	--color-text: #fff;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

button {
	cursor: pointer;
}

/* Top */
.container {
	background-color: #23424a;
	color: var(--color-text);
	padding: 100px 0;
}

.title {
	font-size: 4.805rem;
	font-weight: 900;
	line-height: 5.631rem;
	padding-bottom: 5rem;
}

.description {
	font-size: 2.1rem;
	font-weight: 400;
	line-height: 3.154rem;
	padding-bottom: 5rem;
}

.btn {
	display: inline-block;
	line-height: 150.19%;
	background: #38cfd9;
	border-radius: 31.5px;
	border: 0;
	color: #072a2d;
	font-size: 1.5rem;
	font-weight: bold;
	height: 63px;
	letter-spacing: 0.05em;
	padding: 2rem 4.8rem 1.5rem 4.9rem;
	text-transform: uppercase;
	text-decoration: none;
}

.btn:focus,
.btn:hover {
	opacity: 0.75;
}

.hero {
	margin: 0 auto;
	max-width: 900px;
	width: 80%;
}

.hero__text {
	width: 60%;
}
